/* Global style - red background */
html, body, #root, .app-root {
  height: 100%;
  margin: 0;  text-align: right;

}
.app-root {
  background: #ff0000;
  color: white;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  
  font-family: 'CairoBlack', sans-serif;
}
@font-face {
  font-family: 'CairoBlack';
  src: url('/public/font/Cairo-Medium.ttf') format('truetype');
  font-weight: 1000;
  font-style: 1000;
}